.item {
    max-width: 300px;
}

.item img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.item img {
    width: 100%;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    cursor: pointer;
}