.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.new-collections h1{
    color: var(--logo-color);
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    width: 250px;
    height: 6px;
    padding: 3px;
    border-radius: 10px;
   background: var(--nav-active-color);
}

.collections{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    /* max-width: 80%;  */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
